.button{
    height: 100%;
    min-width: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
}

.btn-blue{
    background-color: var(--blue);
    color: white;
}