.footer{
    padding: 100px 50px;
    background-color: #100E1D;
    width: calc(100% - 100px);
    position: relative;
    right: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.footer .footer-links{
    display: flex;
    flex-direction: column;
}

.footer .footer-links .navbar-link{
    color: white;
    margin-bottom: 15px;
}

.footer .footer-links .navbar-link::after{
    background-color: var(--white);
}

.footer .contact-us-input .input-top{
    color: white;
}

.footer .social-links-container{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.footer .social-links-container .social-link{
    color: white;
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.5rem;
}