.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;
}

.navbar .navbar-links{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#items-toggle,
.label-items-toggle{
    display: none;
}